<h1>Longest word game !</h1>
<ul class="list-inline">
<% @letters.each do |letter| %>
  <li class="list-inline-item mx-1 px-4 py-3 border border-secondary bg-primary text-light shadow fs-4 fw-bold"><%=letter  %></li>
<% end %>
</ul>

<p>What is the longest word you can find?</p>

<form class="input-group mb-3 w-50" action="score" method="post" data-turbo="false">
  <input type="text" name="word" class="form-control">
  <input type="submit" value="Play" class="input-group-text">
  <input type="hidden" name="letters" value="<%=@letters%>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

</form>

<%# <form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> %>
